$gui-background-color: rgba(0, 0, 0, 0.2);
$default-background: #000;
$default-color: #fff;

html,
body {
   margin: 0;
   overflow: hidden;
   padding: 0;
}

canvas {
   height: 100vh;
   width: 100vw;
}

.gui-layer {
   background: $gui-background-color;
   height: 100vh;
   position: fixed;
   transition: 2s ease-in-out;
   transition-delay: 0.2s;
   width: 100vw;

   .container {
      color: $default-color;
      display: none;
      font-family: Arial, sans-serif;
      position: relative;
      text-align: center;
      top: 40%;
      transform: translateY(-50%);

      &.visible {
         display: block;
      }
   }

   &.visible {
      background: $default-background;
      cursor: pointer;
      transition: 200ms ease-in-out;
   }
}
